.App {
  /*padding: 30px;*/
  /*display: flex;*/
}

.App > div {
  /*margin-right: 50px;*/
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.content{
  display: flex;
  padding: 30px;
}
.content > div{
  margin-right: 30px;
}

.addContainer{
  display: flex;
}

.addContainer > div{
  margin-left: 20px;
}


/*.todolistContainer {*/
/*  box-shadow: -5px -5px 9px hsl(0deg 0% 100% / 45%), 5px 5px 9px rgb(94 104 121 / 30%);*/
/*  border-radius: 8px;*/
/*  padding: 20px;*/
/*  height: fit-content;*/
/*}*/